<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
  </head>

  <style>
body {
            height: 100%;
            margin: 0;
        }
        .wrapper {
            height: 100%; 
        }
        .user-details {
            height: 10%;
            width: 100%;
        }
        .chat-box {
            height: 90%;
            width: 100%;
        }
        .input-username {
            width: 75%;
            height: 100%;
        }
        .send-username {
            width: 20%;
            height: 100%;
        }
        .chat-list {
            height: 80%;
            width: 100%;
            overflow-y: auto;
        }
        .chat-meta {
            height: 20%;
            width: 100%;
        }
        .typer{
            position: sticky;
            width: 100%;
            bottom: 10px;
        }
</style>

  <body>

    <div class="wrapper">
    <div class="user-details">
        <input type="text" placeholder="Name" id="username" class="input-username"/>
        <button id="send_username" class="send-username">Send</button>
    </div>
    <div class="chat-box">
        <div id="chatroom" class="chat-list">
        </div>
        <div class="chat-meta">
            <div class="typer">
                    <input type="text" placeholder="Message" id="message" class="input-message"/>
                    <button id="send_message" class="send-message">Send</button>
            </div>
        </div>
    </div>
    </div>
      
    <script src='https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js'></script>
    <script src='http://code.jquery.com/jquery-latest.min.js'></script>
    <script src='chat.js'></script>
  </body>
</html>
